@media(max-width: 1200px) {
	.container{
		width: 900px;
	}
	.content h1 {
    font-size: 45px;
    }
    .content p {
    max-width: 650px;
    }
    .banner b {
    width: 600px;
    height: 600px;
    border: 100px solid #0c66ff38;
    right: 0;
    }
    .content img {
    max-width: 400px;
    }
    .feature-content p {
    font-size: 15px;
}
.feature-content h2 {
    font-size: 35px;
}
.post {
    padding: 30px;
}
.post h3 {
    font-size: 18px;
}
.post p {
    font-size: 15px;
}
.post img {
    max-height: 100px;
}
footer p {
    font-size: 15px;
}
footer {
    padding: 25px 0;

}
}
/*1200px ends*/

@media(max-width: 992px) {
	.container{
		width: 700px;
	}
	.content h1 {
    font-size: 40px;
}
.content p {
	font-size: 14px;
    max-width: 590px;
}
.banner b {
    width: 550px;
    height: 550px;
}
.feature-content p {
    font-size: 14px;
}
.feature-content h2 {
    font-size: 25px;
}
.post p {
    font-size: 14px;
}
.post {
    padding: 20px;
}
.post img {
    max-height: 90px;
}

}
/*992px ends*/
@media(max-width: 768px) {
	.container{
		width: 100%;
		padding: 0 15px; 
	}
	.socials li a {
    width: 30px;
    height: 30px;
}
.content h1 {
    font-size: 35px;
}
.content p {
    max-width: 490px;
}
.content img {
    max-width: 350px;
}
.banner b {
    width: 520px;
    height: 520px;
}
.post h3 {
    font-size: 16px;
}
}
/*768 ends*/
@media(max-width: 576px) {
	.logo, nav {
		text-align: center;
    flex-basis: 100%;
    max-width: 100%;
}
.logo{
	padding: 10px 0 ;
}
nav ul {
    justify-content: center;
}
nav ul li a {
    padding: 10px 15px;
    font-size: 15px;
}
nav ul li a::after {
    content: none;

}
.content h1 {
    font-size: 30px;
}
.content p {
    max-width: 260px;
}
.col-3 {
    padding: 15px;
    max-width: 100%;
    flex-basis: 100%;
}
}